<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-solid fa-house-user"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      aria-label="Toggle navigation"
      id="hamburgerButton"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-nav home">
      <a class="nav-link" href="/listings">LushStay</a>
    </div>

    <div class="navbar-nav ms-auto search">
      <form class="d-flex" role="search" method="get" action="/listings">
        <input
          class="form-control me-2 search-input"
          type="search"
          name="location"
          placeholder="Search  Locations"
          aria-label="Search"
        />

        <button class="btn search-btn" type="submit">
          <span id="searchIcon">
            <i class="fa-solid fa-magnifying-glass"></i
          ></span>
          <span id="searchText">Search</span>
        </button>
      </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">LushStay Your Home</a>
        <% if(!currUser) {%>
        <a class="nav-link" href="/signup"><b>Signup</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %> <% if(currUser){ %>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<script>
  const hamburgerButton = document.getElementById("hamburgerButton");
  hamburgerButton.addEventListener("click", (e) => {
    e.preventDefault(); // stop default behavior
    e.stopPropagation(); // stop Bootstrap behavior
    window.location.href = "/listings/menu"; // go to new page
  });
</script>
